{libs_dir, "apps, deps"}.

{sub_dirs, [
	"rel",
	"apps/skyraid",
	"apps/skyraid_webmachine"
]}.

{deps, [
	{lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
	{jsonerl, ".*", {git, "git://github.com/lambder/jsonerl.git", "master"}},
	{jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", "master"}},
	{webmachine, ".*", {git, "git://github.com/basho/webmachine.git", "master"}},
	{dropbox, ".*", {git, "git://github.com/StepanKuzmin/erlang-dropbox.git", "master"}}
]}.

{erl_opts, [
	%% warnings_as_errors,
	warn_export_all,
	{parse_transform, lager_transform}
]}.
