{libs_dir, "apps, deps"}.

{sub_dirs, [
	"rel",
	"apps/skyraid",
	"apps/skyraid_ranch",
	"apps/skyraid_webmachine"
]}.

{deps, [
	{lager, "1.2.2", {git, "git://github.com/basho/lager", {tag, "1.2.2"}}},
	{webmachine, ".*", {git, "git://github.com/basho/webmachine.git", "master"}},
	{oauth, ".*", {git, "git://github.com/tim/erlang-oauth.git", "master"}}
]}.

{erl_opts, [
	%%warnings_as_errors,
	warn_export_all,
	{parse_transform, lager_transform}
]}.
